$color-white: #fff;
$background-color1: rgb(15, 141, 232);
$background-color2: rgb(11, 219, 238);
$background-color3: rgb(96, 242, 181);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 110%;
}

body {
  font-family: "Georgia", serif;
}

.body {
  background-image: linear-gradient(
      to left,
      rgba($background-color1, 0.8),
      rgba($background-color2, 0.8),
      rgba($background-color3, 0.8)
    ),
    url("https://images.squarespace-cdn.com/content/v1/56dc7a6820c647a2ce55e533/1490922056592-HPNM6WPT5IP9EISLWSWO/Instructional-courses-ascent-climbing-school.jpg");
  background-size: cover;
  height: 100vh;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Papyrus", fantasy;
  padding-top: 1rem;
}

.main {
  background-color: rgba($color-white, 0.7);
  width: 85vw;
  height: 75vh;
  margin: 0 auto;
}

.pad-vert {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad-input {
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.side-mar {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

fieldset {
  border: none;
  display: flex;
}

label {
  display: flex;
  align-items: center;
}
